<!DOCTYPE html>
<html>
    <head>
    
    
    <title>Form</title>

    {% load static %}

    <link rel="stylesheet" href="{ %static 'css/style.css'%}"/>

    </head>
    <body>
        <style>
            h1{
                color: black;
                text-align: center;
            }
            form{
                text-align: center;
                
            }
            body{
                background-color: cadetblue;
                
            }
        </style>
        <h1>STUDENT REGISTRATION FORM</h1>
       
<form method="POST">
    {{form.as_p}}
</form>

    </body>
    </html>